<div class="col m4">
  <div class="card medium chip" data-name="<%= chip.name %>">
    <div class="card-image">
      <center><%= image_tag chip.image.url, class: "responsive-img" %></center>
    </div>
    <div class="card-content" id="<%= chip.slug %>">
      <%= render partial: 'chips/chip_layout', locals: {chip: chip, source: "index"} %>
    </div>
  </div>
</div>
