<b><center><%= link_to chip.name, chip_path(chip.slug) %></center></b>
<p><center><%= number_to_currency chip.price %></center></p>
 <% if chip.status == "Available" %>
  <p><center><%= button_to "Add to Cart", cart_chips_path(chip_id: chip.id), class: "btn"%></center></p>
<% else %>
  <center><p class="btn disabled"> Item is Retired </p></center>
<% end %>
<p><%= chip.description_type(source) %></p>
