<h2>Oil Types</h2>

<div class="categories">
  <div class="row">
    <% @oils.each do |oil| %>
    <div class="col m3">
      <div class="card" id="<%=oil.slug%>">
        <div class="card-image">
          <img src="" >
        </div>
        <div class="card-content">
          <h5> <%= link_to oil.name, oil_path(oil.slug) %></h5>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
