<center><img src="<%= @oil.oil_image %>"></center>

<div class="chips">
  <div class="row">
    <%= render @oil.gimee_your_chips %>
</div>

<%= link_to "Return to oils", oils_path, class: "waves-effect waves-light btn" %>
