<!-- <div class="search">
  <i class="material-icons">search</i><%= text_field :name, :search_name, placeholder: "Enter name here" %>
</div> -->

<!-- <nav id="nav-search"> -->
<div class="row">
       <span class="col s1 offset-s1">
         <label for="search"><i class="medium material-icons">search</i></label>
       </span>
         <span class="col s8">
          <form id="nav-search">
            <input id="name_search_name" type="search" required>
          </form>
        </span>
 </div>


 <!-- </nav> -->
