<table class="striped responsive-table">
  <thead>
    <tr>
        <th>Order No.</th>
        <th>Ordered On</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>
