<center><h4>About Slota's Chips</h4></center>

<div class="card">
  <br><div>
    <center><img class="about-image" src="http://i.imgur.com/AdNcF9b.jpg"></center>
  </div><br>
  <div class="container card-content"><center>
    <p> Howdy folks! My name is John Slota, with all the various oils on the market today,
      I believe in using lard - an animal fat - to make my potato and tortilla chips. Why?
      Because I believe that simple and natural is best. Do you realize that, commonly, to
      produce vegetable oil, seeds must be roasted, steel rolled, and flooded with hexane
      solvent to extract solvent to extract the oil, which is then treated with lye,
      neutralized with hydrochloric acid, filtered through diatomaceous earth, and deodorized
      under high temperature?</p>

      <p> Lard is a rich, naturally stable fat, rendered from pork that provides the true home style
      flavor most people prefer. Pure energy. Simple and Delicious. We also have tallow
      (which is made of beef), coconut oil and avocado oil chips which are processed completely
      different the normal vegetable oil chip. Crack open a bag and enjoy yourself, these chips
      are natural, healthy, simple and delicious.</p>
</center>
</div><br><br>
</div>
